<footer>
  <nav class="navbar fixed-bottom navbar-dark" style="background-color: #7986CB">
    <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved. <%= title %> page</h6>
  </nav>
</footer>