<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutme</title>
</head>

<div>
    <h1>Introduction:</h1><br><br>
    <center><img src="\assets\images\schoolpicture.JPG"height="300" width="250" class="marginauto">
    <h2>Michael Magtibay</h2></center>

    <p>I am currently studying in my third semester at Centennial College for Software Engineering. This website was produced for course COMP229 that displays my past and current projects that i have worked on. I enjoy working on projects, especially in a team enviroment as we are able to share our thoughts and ideas. I am looking forward to more opportunities to further improve my skills and knowledge.</p>

    <h3>
        Hobbies:
    </h3>
        <ul>
            <li>Coding</li>
            <li>Basketball</li>
            <li>Music</li>
            <li>Gaming</li>
            <li>Excerising</li>
        </ul>
        <center><h3><a href="Assets/Magtibay1.pdf">Resume</a></p></center></h3>
</div>
    
</body>
</html>