<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h4>Here are some projects I have worked on:</h4>
 <img src="\assets\images\project3.PNG"height="500" width="650"> <br><br>
<p>This is my most recent java project. It is a questionnaire that asks 5 questions in a random order. 
After answering a question, the program will tell you if you're right. At the end, it displays your grade as well as if you passed or failed.</p>


<img src="\assets\images\project2.PNG"height="500" width="650"> <br><br>
<p>This was a C# project that displayed movies, theatre, duration and what time movies were played. 
It was able to find a movie by its title, as well as the names of the actors.</p>


<img src="\assets\images\project1.PNG"height="500" width="650"> <br><br>
<p> This project was a basic website that displayed different products and their prices.
 For this project, the products chosen were different bundles for the PS4.</p>

 </div>
</body>
</html>
