<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <img src="assets\images\services.png.jpg" style="float:right"height="175" width="150">
</head>
<body>
    <div>
       
        <h4>Provided Services:</h4>
        <p>
	<ul>
		<li>General Programming</li>
		<li>Building a website</li>
		<li>Picture/Video Editing</li>
    </ul>
</p>
    </div>
</body>
</html>