<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
<center> <h3>Please use the navigation bar to see other pages. Thank You.</h3></center>
</body>
</html>